{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "HELLO_HOST": "localhost",
    "WORLD_HOST": "localhost",
    "WORLD_HOST_RUBY": "localhost",
    "WPORT": "5002",
    "WPORT_RUBY": "5002",
    "SHARD": "azure-fn",
    "RUBY_WORLD": "50",
    "HELLO_URL": "https://<hello-function-app-name>.azurewebsites.net",
    "WORLD_URL": "https://<world-function-app-name>.azurewebsites.net"
  }
}
